@font-face {
    font-family: mikier;
    src: url("/assets/fonts/Milker.otf");
}

.main_header_div{
    background-color: rgb(244, 245, 246);
    display: flex;
    align-items: center;
    
}

.header_left{
    display: flex;
    align-items: center;
    padding: 10px;
    width : 40%;
    justify-content: left;
}

.logo_div img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-inline: 20px;
}

.title_div h1{
    font-family: mikier;
    font-size: 35px;
    color: rgb(33, 33, 33);
}

.header_right{
    
    align-content: center;
    justify-items: right;     
    padding-right: 50px;
    width: 60%;
}

.header_right input[type="text"]{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
}

